body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: DarkCyan;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

.box {
  background-color: #33CCFF;
  width: 100px;
  padding: 5px;
  color: #FFFFFF;
}

footer {
  display: block;
  margin-top: 100px;
}
